---
import { Hash } from "lucide-astro";
import { getTags } from "src/lib/posts";
import { translate } from "src/lib/util";
import { LANGS } from "src/site-config";
import RootLayout from "src/layouts/RootLayout.astro";

export function getStaticPaths() {
  return LANGS.flatMap((lang) => [{ params: { lang } }]);
}

const { lang } = Astro.params;
const tags = await getTags(lang);
---

<RootLayout lang={lang}>
  <h1 class="text-4xl font-bold my-6">{translate(lang, "tags")}</h1>
  <ul>
    {
      tags.map((tag) => (
        <li class="mb-4">
          <a href={`/${lang}/tags/${tag[0]}`} class="flex-row items-center">
            <Hash size={16} className="inline" />
            {tag[0]}
            <span class="rounded-lg bg-accent px-2 ml-1">{tag[1]}</span>
          </a>
        </li>
      ))
    }
  </ul>
</RootLayout>
