---
interface Props {
  lang: string;
  title?: string;
  keywords?: string[];
  description?: string;
}
import BaseHead from "@components/BaseHead.astro";
import Footer from "@components/Footer.astro";
import Navbar from "@components/Navbar.astro";
import "@fontsource-variable/fira-code";
import "@fontsource-variable/inter";
import { DESCRIPTION, TITLE } from "../site-config";
const {
  lang,
  title = TITLE,
  description = DESCRIPTION,
  keywords,
} = Astro.props;
---

<!doctype html>
<html lang={lang}>
  <head>
    <BaseHead title={title} description={description} keywords={keywords} />
  </head>
  <body>
    <Navbar lang={lang} />
    <div
      class="mx-auto mt-8 min-h-screen max-w-3xl px-4 sm:mt-12 sm:px-8 xl:px-0"
    >
      <slot />
    </div>
    <Footer />
    <!-- <Spa progressBar={false} defaultAnimation={false} /> -->
    <script src="/src/lib/component-control.js"></script>
  </body>
</html>
